# Grouping by Multiple Columns

In [2]:
import pandas as pd

In [3]:
fortune =pd.read_csv('fortune1000.csv', index_col='Rank')
sectors = fortune.groupby('Sector')
fortune.head(n=2)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600

In [4]:
sectors = fortune.groupby(['Sector', 'Industry'])

In [5]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [8]:
sectors.get_group('Energy')

ValueError: must supply a tuple to get_group with multiple grouping keys

In [9]:
sectors.sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]

In [12]:
sectors.get_group(['Enegry', None])

ValueError: must supply a tuple to get_group with multiple grouping keys

In [13]:
sectors['Revenue'].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

In [14]:
sectors.get_group('Energy',None)

ValueError: must supply a tuple to get_group with multiple grouping keys

In [18]:
sectors.get_group(('Energy', 'Petroleum Refining'))

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
98,Tesoro,Energy,Petroleum Refining,"San Antonio, TX",28150,1540,6016
214,HollyFrontier,Energy,Petroleum Refining,"Dallas, TX",13238,740,2704
217,PBF Energy,Energy,Petroleum Refining,"Parsippany, NJ",13124,146,2270
289,Western Refining,Energy,Petroleum Refining,"El Paso, TX",9787,407,7347
394,Hess,Energy,Petroleum Refining,"New York, NY",6575,-3056,2770
445,Delek US Holdings,Energy,Petroleum Refining,"Brentwood, TN",5762,19,4584
569,Alon USA Energy,Energy,Petroleum Refining,"Dallas, TX",4260,53,2860
571,Calumet Specialty Products Partners,Energy,Petroleum Refining,"Indianapolis, IN",4213,-139,2175
732,Northern Tier Energy,Energy,Petroleum Refining,"Tempe, AZ",3002,331,2961
850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470,82,2997
953,Par Pacific Holdings,Energy,Petroleum Refining,"Houston, TX",2066,-40,744
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809

In [22]:
sectors.get_group(('Energy', ))

ValueError: must supply a same-length tuple to get_group with multiple grouping keys

In [23]:
sectors['Employees'].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            48402.850000
Apparel              Apparel                                          23093.133333
Business Services    Advertising, marketing                           62050.000000
                     Diversified Outsourcing Services                 50595.000000
                     Education                                        15585.000000
                                                                          ...
Transportation       Trucking, Truck Leasing                          18939.555556
Wholesalers          Miscellaneous                                     9200.000000
                     Wholesalers: Diversified                          9353.240000
                     Wholesalers: Electronics and Office Equipment    20832.625000
                     Wholesalers: Food and Grocery                    19317.500000
Name: Employees, Length: 79, dtype: float64